@model SSCASPEL.Models.Producto

@{
    ViewData["Title"] = "Crear producto";
    Layout = "~/Views/Home/Shared/_IndexLayout.cshtml";
}

<h1>Crear Producto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NuevoProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Esquema" class="control-label"></label>
                <input asp-for="Esquema" value="1" class="form-control" />
                <span asp-validation-for="Esquema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Con Serie</label>
                <select asp-for="Conserie">
                    <option value="N">NO</option>
                    <option value="S">SI</option>
                </select>
            </div>
            <!--<div class="form-group">
        <label asp-for="Conserie" class="control-label"></label>
        <input asp-for="Conserie" class="form-control" />
        <span asp-validation-for="Conserie" class="text-danger"></span>
    </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <select asp-for="Tipo">
                    <option value="P">Producto</option>
                    <option value="S">Servicio</option>
                    <option value="K">Kit</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Existencia" class="control-label"></label>
                <input asp-for="Existencia" class="form-control" />
                <span asp-validation-for="Existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea" class="control-label"></label>
                <input asp-for="Linea" class="form-control" />
                <span asp-validation-for="Linea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripcion de linea</label>
                <input asp-for="Descrlinea" class="form-control" />
                <span asp-validation-for="Descrlinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Stock Minimo</label>
                <input asp-for="Sminimo" class="form-control" />
                <span asp-validation-for="Sminimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
